# Node.js
node_modules/

# Environment Variables
.env

# Sequelize Config (if sensitive)
config/config.js

# Logs
*.log
logs/

# Databases
*.sqlite
*.sqlite3

# Compiled Files
dist/
build/

# System Files
.DS_Store
Thumbs.db
